allow init app_data_file:dir { write add_name setattr };
allow init app_data_file:file { write getattr setattr read create open };
allow init devpts:chr_file { ioctl getattr };
allow init rootfs:file execute_no_trans;
allow init self:capability sys_ptrace;
allow init untrusted_app:process signal;
