allow sysinit adsprpcd:dir { getattr search };
allow sysinit adsprpcd:file { read open };
allow sysinit app_data_file:dir getattr;
allow sysinit audiod:dir { getattr search };
allow sysinit audiod:file { read open };
allow sysinit bootanim:dir { getattr search };
allow sysinit bootanim:file { read open };
allow sysinit debuggerd:dir { getattr search };
allow sysinit debuggerd:file { read open };
allow sysinit drmserver:dir { getattr search };
allow sysinit drmserver:file { read open };
allow sysinit gatekeeperd:dir { getattr search };
allow sysinit gatekeeperd:file { read open };
allow sysinit healthd:dir { getattr search };
allow sysinit healthd:file { read open };
allow sysinit init:dir { getattr search };
allow sysinit init:file { read open };
allow sysinit installd:dir { getattr search };
allow sysinit installd:file { read open };
allow sysinit kernel:dir { getattr search };
allow sysinit kernel:file { read open };
allow sysinit kernel:system syslog_read;
allow sysinit lmkd:dir { getattr search };
allow sysinit lmkd:file { read open };
allow sysinit location:dir { getattr search };
allow sysinit location:file { read open };
allow sysinit logd:dir { getattr search };
allow sysinit logd:file { read open };
allow sysinit media_rw_data_file:dir getattr;
allow sysinit media_rw_data_file:file { read getattr open };
allow sysinit mediaserver:dir { getattr search };
allow sysinit mediaserver:file { read open };
allow sysinit mm-qcamerad:dir { getattr search };
allow sysinit mm-qcamerad:file { read open };
allow sysinit mnt_user_file:dir search;
allow sysinit mpdecision_exec:file getattr;
allow sysinit netd:dir { getattr search };
allow sysinit netd:file { read open };
allow sysinit netmgrd:dir { getattr search };
allow sysinit netmgrd:file { read open };
allow sysinit perfprofd:dir { getattr search };
allow sysinit perfprofd:file { read open };
allow sysinit proc_dirty_ratio:file { read open };
allow sysinit proc_touchpanel:dir search;
allow sysinit proc_touchpanel:file { read getattr open };
allow sysinit qmuxd:dir { getattr search };
allow sysinit qmuxd:file { read open };
allow sysinit rfs_access:dir { getattr search };
allow sysinit rfs_access:file { read open };
allow sysinit rild:dir { getattr search };
allow sysinit rild:file { read open };
allow sysinit rmt_storage:dir { getattr search };
allow sysinit rmt_storage:file { read open };
allow sysinit self:process execmem;
allow sysinit sensors:dir { getattr search };
allow sysinit sensors:file { read open };
allow sysinit servicemanager:dir { getattr search };
allow sysinit servicemanager:file { read open };
allow sysinit storage_file:dir search;
allow sysinit storage_file:lnk_file read;
allow sysinit su:dir { getattr search };
allow sysinit su:file { read open };
allow sysinit surfaceflinger:dir { getattr search };
allow sysinit surfaceflinger:file { read open };
allow sysinit sysfs_lowmemorykiller:file { read getattr open };
allow sysinit system_data_file:dir { write setattr read remove_name open add_name };
allow sysinit system_data_file:file { execute_no_trans ioctl open };
allow sysinit tee:dir { getattr search };
allow sysinit tee:file { read open };
allow sysinit time_daemon:dir { getattr search };
allow sysinit time_daemon:file { read open };
allow sysinit ueventd:dir { getattr search };
allow sysinit ueventd:file { read open };
allow sysinit untrusted_app:dir getattr;
allow sysinit vibeamp_sysfs:file { read getattr open };
allow sysinit vold:dir { getattr search };
allow sysinit vold:file { read open };
allow sysinit wcnss_service:dir { getattr search };
allow sysinit wcnss_service:file { read open };
allow sysinit zygote:dir { getattr search };
allow sysinit zygote:file { read open };

