allow toolbox adsprpcd:dir { getattr search };
allow toolbox adsprpcd:file { read open };
allow toolbox debuggerd:dir { getattr search };
allow toolbox debuggerd:file { read open };
allow toolbox drmserver:dir { getattr search };
allow toolbox drmserver:file { read open };
allow toolbox gatekeeperd:dir { getattr search };
allow toolbox healthd:dir { getattr search };
allow toolbox healthd:file { read open };
allow toolbox init:dir { getattr search };
allow toolbox init:fifo_file { read write getattr };
allow toolbox init:file { read open };
allow toolbox installd:dir { getattr search };
allow toolbox installd:file { read open };
allow toolbox isolated_app:dir { getattr search };
allow toolbox isolated_app:file { read open };
allow toolbox kernel:dir { getattr search };
allow toolbox kernel:file { read open };
allow toolbox keystore:dir { getattr search };
allow toolbox keystore:file { read open };
allow toolbox lmkd:dir { getattr search };
allow toolbox lmkd:file { read open };
allow toolbox logd:dir { getattr search };
allow toolbox logd:file { read open };
allow toolbox mediaserver:dir { getattr search };
allow toolbox mediaserver:file { read open };
allow toolbox netd:dir { getattr search };
allow toolbox netd:file { read open };
allow toolbox netmgrd:dir { getattr search };
allow toolbox netmgrd:file { read open };
allow toolbox nfc:dir { getattr search };
allow toolbox nfc:file { read open };
allow toolbox qmuxd:dir { getattr search };
allow toolbox qmuxd:file { read open };
allow toolbox rfs_access:dir { getattr search };
allow toolbox rfs_access:file { read open };
allow toolbox rild:dir { getattr search };
allow toolbox rild:file { read open };
allow toolbox rmt_storage:dir { getattr search };
allow toolbox rmt_storage:file { read open };
allow toolbox sdcardd:dir { getattr search };
allow toolbox servicemanager:dir { getattr search };
allow toolbox servicemanager:file { read open };
allow toolbox su:dir { getattr search };
allow toolbox su:file { read open };
allow toolbox surfaceflinger:dir { getattr search };
allow toolbox surfaceflinger:file { read open };
allow toolbox tee:dir { getattr search };
allow toolbox tee:file { read open };
allow toolbox ueventd:dir { getattr search };
allow toolbox ueventd:file { read open };
allow toolbox vold:dir { getattr search };
allow toolbox vold:file { read open };
allow toolbox wcnss_service:dir { getattr search };
allow toolbox wcnss_service:file { read open };
allow toolbox wpa:dir { getattr search };
allow toolbox wpa:file { read open };
allow toolbox zygote:dir { getattr search };
allow toolbox zygote:file { read open };
allow toolbox audiod:dir { getattr search };
allow toolbox audiod:file { read open };
allow toolbox gatekeeperd:file { read open };
allow toolbox kernel:system syslog_read;
allow toolbox location:dir { getattr search };
allow toolbox location:file { read open };
allow toolbox mm-qcamerad:dir { getattr search };
allow toolbox mm-qcamerad:file { read open };
allow toolbox perfprofd:dir { getattr search };
allow toolbox perfprofd:file { read open };
allow toolbox platform_app:dir { getattr search };
allow toolbox platform_app:file { read open };
allow toolbox radio:dir { getattr search };
allow toolbox radio:file { read open };
allow toolbox sdcardd:file { read open };
allow toolbox sensors:dir { getattr search };
allow toolbox sensors:file { read open };
allow toolbox system_server:dir { getattr search };
allow toolbox system_server:file { read open };
allow toolbox time_daemon:dir { getattr search };
allow toolbox time_daemon:file { read open };
allow toolbox untrusted_app:dir { getattr search };
allow toolbox untrusted_app:file { read open };
