dontaudit toolbox adsprpcd:dir { getattr search };
dontaudit toolbox adsprpcd:file { read open };
dontaudit toolbox debuggerd:dir { getattr search };
dontaudit toolbox debuggerd:file { read open };
dontaudit toolbox drmserver:dir { getattr search };
dontaudit toolbox drmserver:file { read open };
dontaudit toolbox gatekeeperd:dir { getattr search };
dontaudit toolbox healthd:dir { getattr search };
dontaudit toolbox healthd:file { read open };
dontaudit toolbox init:dir { getattr search };
dontaudit toolbox init:fifo_file { read write getattr };
dontaudit toolbox init:file { read open };
dontaudit toolbox installd:dir { getattr search };
dontaudit toolbox installd:file { read open };
dontaudit toolbox isolated_app:dir { getattr search };
dontaudit toolbox isolated_app:file { read open };
dontaudit toolbox kernel:dir { getattr search };
dontaudit toolbox kernel:file { read open };
dontaudit toolbox keystore:dir { getattr search };
dontaudit toolbox keystore:file { read open };
dontaudit toolbox lmkd:dir { getattr search };
dontaudit toolbox lmkd:file { read open };
dontaudit toolbox logd:dir { getattr search };
dontaudit toolbox logd:file { read open };
dontaudit toolbox mediaserver:dir { getattr search };
dontaudit toolbox mediaserver:file { read open };
dontaudit toolbox netd:dir { getattr search };
dontaudit toolbox netd:file { read open };
dontaudit toolbox netmgrd:dir { getattr search };
dontaudit toolbox netmgrd:file { read open };
dontaudit toolbox nfc:dir { getattr search };
dontaudit toolbox nfc:file { read open };
dontaudit toolbox qmuxd:dir { getattr search };
dontaudit toolbox qmuxd:file { read open };
dontaudit toolbox rfs_access:dir { getattr search };
dontaudit toolbox rfs_access:file { read open };
dontaudit toolbox rild:dir { getattr search };
dontaudit toolbox rild:file { read open };
dontaudit toolbox rmt_storage:dir { getattr search };
dontaudit toolbox rmt_storage:file { read open };
dontaudit toolbox sdcardd:dir { getattr search };
dontaudit toolbox servicemanager:dir { getattr search };
dontaudit toolbox servicemanager:file { read open };
dontaudit toolbox su:dir { getattr search };
dontaudit toolbox su:file { read open };
dontaudit toolbox surfaceflinger:dir { getattr search };
dontaudit toolbox surfaceflinger:file { read open };
dontaudit toolbox tee:dir { getattr search };
dontaudit toolbox tee:file { read open };
dontaudit toolbox ueventd:dir { getattr search };
dontaudit toolbox ueventd:file { read open };
dontaudit toolbox vold:dir { getattr search };
dontaudit toolbox vold:file { read open };
dontaudit toolbox wcnss_service:dir { getattr search };
dontaudit toolbox wcnss_service:file { read open };
dontaudit toolbox wpa:dir { getattr search };
dontaudit toolbox wpa:file { read open };
dontaudit toolbox zygote:dir { getattr search };
dontaudit toolbox zygote:file { read open };
dontaudit toolbox audiod:dir { getattr search };
dontaudit toolbox audiod:file { read open };
dontaudit toolbox gatekeeperd:file { read open };
dontaudit toolbox kernel:system syslog_read;
dontaudit toolbox location:dir { getattr search };
dontaudit toolbox location:file { read open };
dontaudit toolbox mm-qcamerad:dir { getattr search };
dontaudit toolbox mm-qcamerad:file { read open };
dontaudit toolbox perfprofd:dir { getattr search };
dontaudit toolbox perfprofd:file { read open };
dontaudit toolbox platform_app:dir { getattr search };
dontaudit toolbox platform_app:file { read open };
dontaudit toolbox radio:dir { getattr search };
dontaudit toolbox radio:file { read open };
dontaudit toolbox sdcardd:file { read open };
dontaudit toolbox sensors:dir { getattr search };
dontaudit toolbox sensors:file { read open };
dontaudit toolbox system_server:dir { getattr search };
dontaudit toolbox system_server:file { read open };
dontaudit toolbox time_daemon:dir { getattr search };
dontaudit toolbox time_daemon:file { read open };
dontaudit toolbox untrusted_app:dir { getattr search };
dontaudit toolbox untrusted_app:file { read open };
