allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app tombstone_data_file:dir getattr;

dontaudit untrusted_app adsprpcd:dir search;
dontaudit untrusted_app adsprpcd:file { read open };
dontaudit untrusted_app audiod:dir search;
dontaudit untrusted_app audiod:file { read open };
dontaudit untrusted_app debuggerd:dir search;
dontaudit untrusted_app debuggerd:file { read open };
dontaudit untrusted_app drmserver:dir search;
dontaudit untrusted_app drmserver:file { read open };
dontaudit untrusted_app gatekeeperd:dir search;
dontaudit untrusted_app gatekeeperd:file { read open };
dontaudit untrusted_app healthd:dir search;
dontaudit untrusted_app healthd:file { read open };
dontaudit untrusted_app init:dir search;
dontaudit untrusted_app init:file { read getattr open };
dontaudit untrusted_app init:unix_stream_socket connectto;
dontaudit untrusted_app installd:dir search;
dontaudit untrusted_app installd:file { read open };
dontaudit untrusted_app isolated_app:dir search;
dontaudit untrusted_app isolated_app:file { read open };
dontaudit untrusted_app kernel:dir search;
dontaudit untrusted_app kernel:file { read getattr open };
dontaudit untrusted_app keystore:dir search;
dontaudit untrusted_app keystore:file { read open };
dontaudit untrusted_app lmkd:dir search;
dontaudit untrusted_app lmkd:file { read open };
dontaudit untrusted_app location:dir search;
dontaudit untrusted_app location:file { read open };
dontaudit untrusted_app logd:dir search;
dontaudit untrusted_app logd:file { read getattr open };
dontaudit untrusted_app mediaserver:dir search;
dontaudit untrusted_app mediaserver:file { read open };
dontaudit untrusted_app mm-qcamerad:dir search;
dontaudit untrusted_app mm-qcamerad:file { read open };
dontaudit untrusted_app netd:dir search;
dontaudit untrusted_app netd:file { read open };
dontaudit untrusted_app netmgrd:dir search;
dontaudit untrusted_app netmgrd:file { read open };
dontaudit untrusted_app nfc:dir search;
dontaudit untrusted_app nfc:file { read open };
dontaudit untrusted_app perfprofd:dir search;
dontaudit untrusted_app perfprofd:file { read open };
dontaudit untrusted_app platform_app:dir search;
dontaudit untrusted_app platform_app:file { read open };
dontaudit untrusted_app qmuxd:dir search;
dontaudit untrusted_app qmuxd:file { read open };
dontaudit untrusted_app radio:dir search;
dontaudit untrusted_app radio:file { read open };
dontaudit untrusted_app rfs_access:dir search;
dontaudit untrusted_app rfs_access:file { read open };
dontaudit untrusted_app rild:dir search;
dontaudit untrusted_app rild:file { read open };
dontaudit untrusted_app rmt_storage:dir search;
dontaudit untrusted_app rmt_storage:file { read open };
dontaudit untrusted_app sdcardd:dir search;
dontaudit untrusted_app sdcardd:file { read open };
dontaudit untrusted_app sensors:dir search;
dontaudit untrusted_app sensors:file { read open };
dontaudit untrusted_app servicemanager:dir search;
dontaudit untrusted_app servicemanager:file { read open };
dontaudit untrusted_app su:dir search;
dontaudit untrusted_app su:file { read getattr open };
dontaudit untrusted_app surfaceflinger:dir search;
dontaudit untrusted_app surfaceflinger:file { read open };
dontaudit untrusted_app system_server:dir search;
dontaudit untrusted_app system_server:file { read open };
dontaudit untrusted_app tee:dir search;
dontaudit untrusted_app tee:file { read open };
dontaudit untrusted_app time_daemon:dir search;
dontaudit untrusted_app time_daemon:file { read open };
dontaudit untrusted_app ueventd:dir search;
dontaudit untrusted_app ueventd:file { read open };
dontaudit untrusted_app vold:dir search;
dontaudit untrusted_app vold:file { read open };
dontaudit untrusted_app wcnss_service:dir search;
dontaudit untrusted_app wcnss_service:file { read open };
dontaudit untrusted_app wpa:dir search;
dontaudit untrusted_app wpa:file { read open };
dontaudit untrusted_app zygote:dir search;
dontaudit untrusted_app zygote:file { read open };
